.git/**
.gitignore
.vscode/**
node_modules/**
src/**
.eslintrc.json
.prettierrc
tsconfig.json
tslint.json
**/*.map
**/tsconfig.json
**/tslint.json
**/*.ts
!src/test/*.ts
!**/*.d.ts
**/test/**
**/.DS_Store 
.vscode-test/**
node_modules/**
tsconfig.json
